<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css" />
        <script defer src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
        <link rel="stylesheet" href="https://use.typekit.net/kxn5msc.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
      </head>
    </head>
   <body>

     <%- include('navbar') %>



     <div class="container mx-6 mb-6 pb-6">


<!--Tekst ispod navbara-->
     <section class="section">
  <h1 class="muli-36 has-text-primary">ECONOMY CLASS RENTAL CAR OPTIONS</h1>
  <h2 class="muli-21 mt-4">
    When you rent an economy car with STAR you will be able to get one of these vehicles below.<br>
    These are only a small selection and you can see many more fantastic makes and models on our <a href="#" class="has-text-primary">Vehicles Page</a>.  </h2>
  <h2 class="muli-21 mt-4">
    STAR car rental services boasts a wide range of economy vehicles such as Skoda Fabia, Renault Megan and the Ford Focus.<br>
    Expect a hassle free rental experience with STAR where you are guaranteed a top quality economy rental car for a fantastic price.
  </h2>
</section>
<!-- Kraj Tekst ispod navbara-->



<!--Prvi red auta-->
     <div class="columns is-multiline pt-6 mt-6 mx-5">
       <!--Prvo auto-->
       <% car.forEach(car => { %>

       <div class="column is-3 ">
           <div class="box box-radius has-background-black pt-6 mt-6 blackboxCar">
               <div class="column is-full no-margin carmodel">
                    <img src="/uploads/images/<%= car.image %>" class="rounded-circle" >
               </div>

               <div class="columns is-desktop">
                   <div class="column">
                       <div class="columns is-gapless is-multiline is-mobile pt-6">
                           <div class="column is-10">
                               <p class="muli-32 has-text-white"><%= car.model %></p>
                           </div>
                           <div class="column is-2">
                               <figure class="image is-32x32 level-right pb-3 has-text-left">
                                   <img src="./images/Skoda-Logo.png" />
                               </figure>
                           </div>
                           <div class="column is-12">
                               <p class="muli-19 has-text-primary pt-1 has-text-left">Starting from 50 KM / Day</p>
                           </div>
                       </div>
                   </div>
               </div>
               <hr class="devider-grey">

               <div class="columns is-multiline is-mobile">
                 <div class="column is-8">
                     <p class="has-text-left has-text-white muli-16">Seat Availability</p>
                 </div>
                 <div class="column is-4">
                     <p class="has-text-right has-text-white muli-16"><%= car.seat %></p>
                 </div>
                 <div class="column is-6">
                     <p class="has-text-left has-text-white muli-16">Year</p>
                 </div>
                 <div class="column is-6">
                     <p class="has-text-right has-text-white muli-16"><%= car.year %></p>
                 </div>
                 <div class="column is-6">
                     <p class="has-text-left has-text-white muli-16">Fuel</p>
                 </div>
                 <div class="column is-6">
                     <p class="has-text-right has-text-white muli-16"><%= car.fueltype %></p>
                 </div>
                 <div class="column is-7">
                     <p class="has-text-left has-text-white muli-16">Fuel Consumption</p>
                 </div>
                 <div class="column is-5">
                     <p class="has-text-right has-text-white muli-16"><%= car.fuelconsumption %></p>
                 </div>
                 <div class="column is-6">
                     <p class="has-text-left has-text-white muli-16">Transmission</p>
                 </div>
                 <div class="column is-6">
                     <p class="has-text-right has-text-white muli-16"><%= car.transmission %></p>
                 </div>
               </div>
               <div class="buttons is-full is-centered mt-4">
                <a href="/car/<%= car._id %>">

                   <button class="button is-warning is-active px-6"><p class="muli-22n">Rent</p></button>
                </a>
               </div>
           </div>
       </div>
       <% }) %>

       
</div>
</div>
<!--Kraj drugog reda auta-->

<div class="footer">
<div class="container" >

  <div class="content has-text-centered mx-6 px-6">
    <div class="columns has-text-white mx-6 px-6">
  <div class="column">
  <img src="./images/1.png">
 </div>
  <div class="column">
  <img src="./images/2.png">
</div>
  <div class="column">
  <img src="./images/3.png">
</div>
  <div class="column">
  <img src="./images/4.png">
  </div>
</div>

<div class="columns mx-6 px-6">
  <div class="column">
  <img src="./images/5.png">
  </div>
  <div class="column">
  <img src="./images/6.png">
 </div>
  <div class="column">
  <img src="./images/7.png">
 </div>
  <div class="column">
  <img src="./images/8.png">
  </div>
</div>
</div>

</div>
</div>
<%- include('footer2') %>

   </body>
</html>