<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <form action="/reservation" method="POST">
                    <% reservation.forEach(reservation => { %>

                    <input type="select" name="car" id="car" placeholder="Select Car" required>
                    <% }) %>
                    <input type="date" name="date" id="date" placeholder="Select Date" required><br>
                    <input type="number" name="price" id="price" placeholder="Enter Price" required><br>
                    <button type="submit">Add</button>
                </form>
            </div>

            <div class="col-md-9">
                <table class="table">
                    <thead>
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Car</th>
                          <th scope="col">Date</th>
                          <th scope="col">Price</th>
                      </tr>
                      </thead>
                     <tbody class="table-body">
                         <% reservation.forEach(reservation => { %>
                            <tr>
                                <th scope="row"><%= reservation._id %></th>
                                <th scope="row"><%= reservation.car %></th>
                                <th scope="row"><%= reservation.date %></th>
                                <th scope="row"><%= reservation.price %></th>
                                <th scope="row"><a href="/edit/<%= reservation._id %>">Edit</a> <a href="javascript:ReservationDelete('<%= reservation._id %>')">Delete</a></th>
                            </tr>
                            <% }) %>
                     </tbody>
                 </table>
            </div>
        </div>
    </div>

    <script>
        function ReservationDelete(id){
    $.ajax({
        url: '/delete/'+id,
        type: 'DELETE',
        success: function(result) {
          console.log("Reservation deleted")
        }
    });
    
    }
    </script>
</body>
</html>