<!DOCTYPE html>
<html lang="en">
    <%- include('head') %>

<body>
    <%- include('navbar') %>


    <body>


        <div class="box mx-5">
   
   
   <!--Tekst ispod navbara-->
        <section class="section">
     <h1 class="title has-text-primary">ECONOMY CLASS RENTAL CAR OPTIONS</h1>
     <h2 class="subtitle">
       When you rent an economy car with STAR you will be able to get one of these vehicles below.
       These are only a small selection and you can see many more fantastic makes and models on our <a href="#" class="has-text-primary">Vehicles Page</a>.  </h2>
     <h2 class="subtitle">
       STAR car rental services boasts a wide range of economy vehicles such as Skoda Fabia, Renault Megan and the Ford Focus.
       Expect a hassle free rental experience with STAR where you are guaranteed a top quality economy rental car for a fantastic price.
     </h2>
   </section>
   <!-- Kraj Tekst ispod navbara-->
   
   
   
   <!--Prvi red auta-->

        <div class="columns pt-3 mt-3 mx-5">
          <!--Prvo auto-->
          <% car.forEach(car => { %>

          <div class="column">
              <div class="box box-radius has-background-black pt-6 mt-6">
                  <div class="column is-full no-margin">
                      <figure class="image margin-minus">
                        <img src="/uploads/images/<%= car.image %>" class="rounded-circle" style="width: 200px; height: 200px;">                      </figure>
                  </div>
   
                  <div class="columns is-desktop">
                      <div class="column">
                          <div class="columns is-gapless is-multiline is-mobile">
                              <div class="column is-10">
                                  <p class="title is-4 has-text-white"><%= car.model %></p>
                              </div>
                              <div class="column is-2">
                                  <figure class="image is-32x32 level-right pb-3 has-text-left">
                                      <img src="./images/Skoda-Logo.png" />
                                  </figure>
                              </div>
                              <div class="column is-12">
                                  <p class="subtitle is-5 has-text-primary pt-1 has-text-left">Starting from 50 KM / Day</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <hr />
   
                  <div class="columns is-multiline is-mobile">
                      <div class="column is-6">
                          <p class="has-text-left has-text-white">Seat Availability</p>
                      </div>
                      <div class="column is-6">
                          <p class="has-text-right has-text-white"><%= car.seat %></p>
                      </div>
                      <div class="column is-6">
                          <p class="has-text-left has-text-white">Year</p>
                      </div>
                      <div class="column is-6">
                          <p class="has-text-right has-text-white"><%= car.year %></p>
                      </div>
                      <div class="column is-6">
                          <p class="has-text-left has-text-white">Fuel</p>
                      </div>
                      <div class="column is-6">
                          <p class="has-text-right has-text-white"><%= car.fueltype %></p>
                      </div>
                      <div class="column is-7">
                          <p class="has-text-left has-text-white">Fuel Consumption</p>
                      </div>
                      <div class="column is-5">
                          <p class="has-text-right has-text-white"><%= car.fuelconsumption %></p>
                      </div>
                      <div class="column is-6">
                          <p class="has-text-left has-text-white">Transmission</p>
                      </div>
                      <div class="column is-6">
                          <p class="has-text-right has-text-white"><%= car.transmission %></p>
                      </div>
                  </div>
                  <div class="buttons is-full is-centered mt-4">
                    <a href="/car/<%= car._id %>">
                      <button class="button is-warning is-active px-6">Rent</button></a>
                  </div>
              </div>
          </div>
                               <% }) %>




   <!--Drugo auto-->
   
      <!--Kraj cetvrtog auta-->
   </div>
   <!--Kraj drugog reda auta-->
   </div>
   
      </body>
    <!-- <div class="container">
        <div class="row">

        

            <div class="col-md-9">
                <table class="table">
                    <thead>
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Slika</th>
                          <th scope="col">Color</th>
                          <th scope="col">Model</th>
                          <th scope="col">Year</th>
                          <th scope="col">Prefered Price</th>
                          <th scope="col">Price</th>
                          <th scope="col">Options</th>
                      </tr>
                      </thead>
                     <tbody class="table-body">
                         <% car.forEach(car => { %>
                            <tr>
                                <th scope="row"><%= car._id %></th>
                                <th scope="row"> <img src="/uploads/images/<%= car.image %>" class="rounded-circle" style="width: 60px; height: 60px;"></th>
                                <th scope="row"><%= car.color %></th>
                                <th scope="row"><%= car.model %></th>
                                <th scope="row"><%= car.year %></th>
                                <th scope="row"><%= car.preferedPrice %></th>
                                <th scope="row"><%= car.price %></th>
                                <th scope="row"><%= car.seat %></th>
                                <th scope="row"><%= car.fueltype %></th>
                                <th scope="row"><%= car.fuelconsumption %></th>
                                <th scope="row"><%= car.transmission %></th>
                                <th scope="row"><%= car.category %></th>
                                <th scope="row"><a href="/car/<%= car._id %>">Reserve</a></th>
                            </tr>
                            <% }) %>
                     </tbody>
                 </table>
            </div>
        </div>
    </div> -->

    <a href="/show">Show my Reservetions</a>

    <script>
        function ReservationDelete(id){
    $.ajax({
        url: '/delete/'+id,
        type: 'DELETE',
        success: function(result) {
          console.log("Reservation deleted")
        }
    });
    
    }
    </script>
</body>
<%- include('footer') %>

</html>
